.App {
  background-color: transparent;
  display: block;
  font-family: "Saira Condensed", sans-serif;
  margin: 0 auto;
  padding-top: 30px;
  text-align: center;
  width: 800px;
}

.App .header {
  background-color: #f1f3f8;
  border-radius: 44px;
}
.App .Coder {
  margin-top: 19px;
}
