.fahrenheit {
  font-size: 30px;
  opacity: 0.7;
}
.celsius {
  font-size: 30px;
}
.active {
  color: #142850;
  font-size: 40px;
  text-decoration: underline;
  opacity: 1;
}
.fahrenheit:hover {
  cursor: pointer;
}
.celsius:hover {
  cursor: pointer;
}
