
h1 {
  font-size: 80px;
}
h2 {
  font-size: 30px;
}

h3 {
  font-weight: bolder;
  font-size: 40px;
}
.icon-current canvas {
width: 119px;
 margin-top:-25px;
 margin-bottom: 18px;
}

.current-precipitation-wind {
  text-align: left;
  font-size: 23px;
  padding-top: 20px;
  padding-left: 20px;
}
.current-time {
  font-size: 23px;
  text-align: right;
  padding-top: 20px;
  padding-right: 20px;
}

