
h1 {
  font-size: 80px;
}
h2 {
  font-size: 30px;
}

h3 {
  font-weight: bolder;
  font-size: 40px;
  margin: 10px;
  padding: 10px;
}
.fahrenheit {
  text-decoration: underline;
  opacity: 75%;
}
.icon-current {
 margin-top: 5px;
}
.current-precipitation-wind {
  text-align: left;
  font-size: 23px;
  padding-top: 20px;
  padding-left: 20px;
}
.current-time {
  font-size: 23px;
  text-align: right;
  padding-top: 20px;
  padding-right: 20px;
}

.fahrenheit:hover {
  cursor: pointer;
  opacity: 100%;
}
.celsius:hover {
  cursor: pointer;
  opacity: 100%;
}
